.App {
  /* border: 1px solid black; */
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  /* text-align: center; */
}
.App>div{
  /* border: 1px solid red; */
}
.done{
  float: right;
}
#data{
  display: flex;
  flex-direction: column;
}
.navbar{
  padding: 2%;
}